@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap");

:root {
  --font-main: "Fira Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}
/* general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: rgb(192, 255, 183);
}
section {
  height: 100vh;
}
section:nth-child(1) {
  background-color: rgb(212, 212, 212);
}
section:nth-child(2) {
  background-color: rgb(175, 175, 175);
}
h2 {
  margin-bottom: 0.5em;
}
textarea {
  resize: none;
  padding: 2em 0;
  overflow-y: scroll;
}
input {
  padding: 0.5em 0em;
  text-indent: 0.5em;
}
button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.75em 0em;
  background-color: greenyellow;
  outline: none;
  border: none;
  text-transform: uppercase;
}
/* modifier classes */
.contact-control.active {
  left: 0;
}

/* layout */
.contact-control {
  display: flex;
  position: fixed;
  width: 440px;
  left: -400px;
  top: 40%;
  max-height: 440px;

  transition: left 200ms ease-in;
  text-transform: capitalize;
}

.contact-control__icon {
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  order: 1;

  display: grid;
  place-items: center;

  background-color: greenyellow;
  cursor: pointer;
}
.contact-control__form {
  flex-grow: 1;
  border: 1px solid rgb(123, 123, 123);
  padding: 1em;

  display: grid;
  background-color: green;
}
/* .contact-control__form > * {
  flex-grow: 1;
} */

.input-control {
  display: grid;
}
.input-control + .input-control {
  margin-top: 1em;
}
