@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap");

:root {
  --font-main: "Fira Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --yellow: #f9d320;

  --black: #14222d;
  --black-lighter: #1f3445;

  --brown: #94724a;
  --green: #8ee0cd;
}
/* google icons */

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
/* general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  color: var(--black);
}
section {
  height: 100vh;
  background-position: center;
  background-size: cover;

  box-shadow: inset 0px 0px 400px 200px black;
}
section:nth-of-type(1) {
  background-image: url(./images/forest.jpg);
}
section:nth-of-type(2) {
  background-image: url(./images/nature.jpg);
}
h2 {
  margin-bottom: 0.5em;
}
textarea {
  resize: none;
  padding: 0em 0em 4em 0em;
  text-align: start;

  overflow-y: auto;
}

input {
  padding: 0.5em 0em;
  text-indent: 0.5em;
}
button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.75em 0em;
  background-color: var(--black);
  color: var(--yellow);
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
}
button:hover {
  color: var(--yellow);
  background-color: var(--black-lighter);
}
/* modifier classes */
.contact-control.active {
  left: 0;
}

.contact-control.active .contact-control__form {
  box-shadow: 0px 0px 30px 0px var(--black);
}
/* layout */
.contact-control {
  display: flex;
  position: fixed;
  width: 440px;
  left: -400px;
  top: 30%;
  max-height: 440px;

  transition: left 200ms ease-in;
  text-transform: capitalize;
}

.contact-control__icon {
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  order: 1;

  display: grid;
  place-items: center;

  background-color: var(--black);
  color: var(--yellow);
  cursor: pointer;
}
.contact-control__form {
  flex-grow: 1;
  border: 2px solid var(--black);
  border-radius: 4px;
  border-top-right-radius: 0;
  padding: 1em 2em;
  /* box-shadow: 0px 0px 30px 0px var(--black); */

  display: grid;
  background-color: var(--yellow);
}

.input-control {
  display: grid;
}
.input-control + .input-control {
  margin-top: 1em;
}
.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.submit-button .send-icon {
  justify-self: start;
  font-size: 1.2em;
}
